Repository shaarli/Shaarli, pull requests merged in 2018-06, with the labels that each got.

#1086 Refactor user login and session management
  application/HttpUtils.php
  application/LoginManager.php
  application/PageBuilder.php
  application/SessionManager.php
  application/security/LoginManager.php
  application/security/SessionManager.php
  composer.json
  index.php
  tests/HttpUtils/ClientIpIdTest.php
  tests/SessionManagerTest.php
  tests/security/LoginManagerTest.php
  tests/security/SessionManagerTest.php
  tests/utils/FakeConfigManager.php
  tpl/default/linklist.html
  tpl/default/linklist.paging.html
  tpl/default/page.footer.html
  tpl/default/page.header.html
  tpl/default/tag.list.html
  tpl/vintage/daily.html
  tpl/vintage/linklist.html
  tpl/vintage/linklist.paging.html
  tpl/vintage/page.footer.html
  tpl/vintage/page.header.html
Labels: cleanup, enhancement, in review, please test, security, template

#1143 Fix order of tags with the same number of occurrences
  application/LinkDB.php
  tests/LinkDBTest.php
Labels: enhancement, in review, php compatibility

#1151 Add <meta> tag for referrer same-origin also to new default tpl
  tpl/default/includes.html
Labels: enhancement, template

#1152 Fixes an error during the install
  index.php
Labels: bug

#1156 v0.8 - Build the Docker image from the local sources
  .docker/.htaccess
  .docker/nginx.conf
  .docker/supervised.conf
  .dockerignore
  .gitattributes
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  docker/development/Dockerfile
  docker/development/IMAGE.md
  docker/development/nginx.conf
  docker/production/Dockerfile
  docker/production/IMAGE.md
  docker/production/stable/Dockerfile
  docker/production/stable/IMAGE.md
  docker/production/stable/nginx.conf
  docker/production/stable/supervised.conf
  docker/production/supervised.conf
Labels: cleanup, docker, enhancement, in review

#1157 v0.9 - Build the Docker images from the local sources
  .docker/.htaccess
  .docker/nginx.conf
  .docker/php-fpm.conf
  .docker/services.d/.s6-svscan/finish
  .docker/services.d/nginx/run
  .docker/services.d/php-fpm/run
  .dockerignore
  .gitattributes
  CHANGELOG.md
  Dockerfile
  Dockerfile.armhf
  docker/alpine/Dockerfile.armhf.latest
  docker/alpine/Dockerfile.armhf.master
  docker/alpine/Dockerfile.latest
  docker/alpine/IMAGE.md
  docker/debian/Dockerfile.stable
  docker/debian/IMAGE.md
  docker/debian/nginx.conf
  docker/debian/supervised.conf
  tests/docker/alpine36/Dockerfile
  tests/docker/debian8/Dockerfile
  tests/docker/debian9/Dockerfile
  tests/docker/ubuntu16/Dockerfile
Labels: cleanup, docker, enhancement, in review

#1158 Master: Build the Docker images from the local sources
  .docker/.htaccess
  .docker/nginx.conf
  .docker/php-fpm.conf
  .docker/services.d/.s6-svscan/finish
  .docker/services.d/nginx/run
  .docker/services.d/php-fpm/run
  .dockerignore
  .gitattributes
  Dockerfile
  Dockerfile.armhf
  doc/md/Unit-tests-Docker.md
  doc/md/docker/shaarli-images.md
  docker/alpine/Dockerfile.armhf.latest
  docker/alpine/Dockerfile.master
  docker/alpine/IMAGE.md
  docker/debian/Dockerfile.stable
  docker/debian/IMAGE.md
  docker/debian/nginx.conf
  docker/debian/supervised.conf
  tests/docker/alpine36/Dockerfile
  tests/docker/debian8/Dockerfile
  tests/docker/debian9/Dockerfile
  tests/docker/ubuntu16/Dockerfile
Labels: cleanup, docker, documentation, enhancement

#1154 Update AUTHORS and CHANGELOG
  AUTHORS
  CHANGELOG.md
  README.md
  doc/md/Download-and-Installation.md
Labels: documentation

#1155 Improve documentation (#598, #1105)
  doc/md/3rd-party-libraries.md
  doc/md/Download-and-Installation.md
  doc/md/Server-configuration.md
  doc/md/Server-requirements.md
  doc/md/index.md
  mkdocs.yml
Labels: documentation, in review, server

#1164 Other platform integration: add Yunohost install badge
  doc/md/Community-&-Related-software.md
Labels: 3rd party, documentation

#1165 add Cloudron to related software
  doc/md/Community-&-Related-software.md
Labels: 3rd party, documentation, server

#1167 Improve Mkdocs build process, fix formatting issues
  .travis.yml
  Dockerfile
  Makefile
  doc/md/FAQ.md
  doc/md/REST-API.md
  doc/md/Sharing-content.md
  doc/md/index.md
  index.php
  mkdocs.yml
Labels: documentation
