Repository shaarli/Shaarli, pull requests merged in 2024-03, with the labels that each got.

#2074 doc: server configuration: allow accessing and caching SVG assets
  doc/md/Server-configuration.md
Labels: documentation, server

#1992 Fix description retrieval when page charset is not UTF-8
  application/http/MetadataRetriever.php
Labels: bug, in review

#2067 dockerfile: update base alpine linux docker image to v3.18.6
  Dockerfile
Labels: docker, dependencies
